name: Greengage Reusable Package Workflow

on:
  workflow_call:
    inputs:
      version:
        description: 'Version derived from tag (e.g., 6 or 7)'
        required: true
        type: string
      target_os:
        description: 'Target OS'
        required: true
        type: string
      target_os_version:
        description: 'Target OS version'
        required: true
        type: string
      rebuild_builder:
        description: 'Rebuild builder image required'
        required: false
        type: boolean
        default: false
      test_lima:
        description: 'Lima Template (e.g., ubuntu-22.04) for deploy test. Skip if empty'
        required: false
        type: string
        default: ''
      test_docker:
        description: 'Docker Image (e.g., ubuntu:22.04, ubuntu:noble) for deploy test. Skip if empty'
        required: false
        type: string
        default: ''
    secrets:
      ghcr_token:
        description: 'GitHub token for GHCR access'
        required: true

jobs:
  build-deb:
    if: inputs.target_os == 'ubuntu'
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.ghcr_token }}

      - name: Restore & Load SHA image
        uses: greengagedb/greengage-ci/.github/actions/restore-load-image@CI-5242
        with:
          version: ${{ inputs.version }}
          target_os: ${{ inputs.target_os }}
          target_os_version: ${{ inputs.target_os_version }}

      - name: Build Debian packages
        env:
          BUILDER: ghcr.io/${{ github.repository }}/ggdb${{ inputs.version }}_${{ inputs.target_os }}${{ inputs.target_os_version }}
        run: |
          docker run --rm \
            -v ./deb-packages:/home/gpadmin/gpdb_src/Package \
            -e BUILDNUMBER=${{ github.run_number }} \
            -e SKIP_UNITTESTS=1 \
            "${BUILDER,,}":${{ github.sha }} \
            /bin/bash -c "unset CONFIGURE_FLAGS ; make -C ./gpdb_src/gpAux pkg-deb"
      - name: Upload Debian artifacts
        uses: actions/upload-artifact@v4
        with:
          name: deb-packages
          path: deb-packages

      - name: Cache Debian artifacts
        uses: actions/cache/save@v4
        with:
          path: deb-packages
          key: deb-packages-${{ github.sha }}

  test-docker:
    if: inputs.test_docker != ''
    env:
      TEST_DOCKER: ${{ inputs.test_docker }}
    needs: build-deb
    runs-on: ubuntu-latest
    steps:
      - name: Download deb artifacts
        uses: actions/download-artifact@v4
        with:
          name: deb-packages
          path: deb-packages
      - name: Start Docker container and install deb package
        run: |
          set -eux
          docker run --rm -v ./deb-packages:/deb-packages \
            "${TEST_DOCKER}" /bin/bash -c "\
              export DEBIAN_FRONTEND=noninteractive && \
              apt-get update && \
              { apt-get install -y /deb-packages/*.deb 2>&1 || dpkg -i /deb-packages/*.deb 2>&1; } && \
              apt-get install -f -y"

  # upload-to-release:
  #   if: startsWith(github.ref, 'refs/tags/')
  #   needs: [build-deb, test-docker]
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: write  # Required for release creation
  #   steps:
  #     - name: Upload packages to release
  #       uses: greengagedb/greengage-ci/.github/actions/upload-pkgs-to-release@v19
  #       with:
  #         version: ${{ inputs.version }}    # optional, defaults empty
  #         artifact_name: deb-packages       # optional, defaults to Packages
  #         package_name: greengage           # optional, defaults to repo name
  #         extensions: "deb ddeb"            # optional, space-separated list of extensions
